# SSH keys and local secrets
.ssh/
*.pem
*.key
*.pub
.env
.env.*
!.env.example
.secret
SECRET
**/SECRET


# Logs
logs/
*.log

# Java
target/
*.class

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node / React
node_modules/
dist/
build/
.vite/
.npm-cache/
*.tsbuildinfo

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
